* {
  margin: 0;
  padding: 0;
}
.type-1344 {
  margin-top: 30px;
  font-family: "Lato", Arial, Tahoma, sans-serif;
}
.type-1344 .padd-bottom {
  padding-bottom: 20px;
}
.type-1344 .swiper-container .swiper-button-prev:after,
.type-1344 .swiper-container .swiper-button-next:after {
  font-size: 20px;
}
.type-1344 .swiper-container .swiper-button-prev {
  left: 0px !important;
  color: white;
}
.type-1344 .swiper-container .swiper-button-next {
  right: 0px !important;
  color: white;
}
.type-1344 .swiper-container .swiper-button-prev:hover {
  left: 0px !important;
  color: #2eb8e2;
}
.type-1344 .swiper-container .swiper-button-next:hover {
  right: 0px !important;
  color: #2eb8e2;
}
.type-1344 .swiper-container .swiper-wrapper .swiper-slide {
  height: 50px;
  line-height: 50px;
  width: 150px;
  text-align: center;
  overflow: hidden;
}
.type-1344 .swiper-container .swiper-wrapper .swiper-slide a {
  color: black;
  text-decoration: none;
}
.type-1344 .swiper-container .swiper-wrapper .swiper-slide:hover {
  background: #ffffff;
}
.type-1344 .themeoption {
  text-align: center;
  margin: 0;
  line-height: 1.4em;
  color: #000;
  font: 400 74px/82px Libre Baskerville;
}
.type-1344 .themeoption h1 {
  margin-bottom: 30px;
  font-size: 60px;
}
.type-1344 .themeoption hr {
  width: 120px;
  height: 2px;
  background: orangered;
  margin: 0 auto;
}
.type-1344 .product-menu {
  width: 100%;
  margin: 0;
  margin-top: 40px;
  background: #dfe2e2;
}
.type-1344 .product-menu .container .portfolio_wrapper {
  background: #edeeee;
  overflow: hidden;
  text-align: center;
}
.type-1344 .product-menu .container .portfolio_wrapper .all {
  width: 100%;
  text-align: center;
  height: 900px;
  margin-left: 2%;
  width: 97%;
  height: auto;
}
@media screen and (max-width: 767px) {
  .type-1344 .product-menu .container .portfolio_wrapper .all .img-reponsive {
    width: 100% !important;
  }
}
@media only screen and (max-width: 479px) {
  .type-1344 a h2 {
    font-size: 24px;
    line-height: 24px;
  }
}
@media only screen and (max-width: 959px) and (min-width: 768px) {
  .type-1344 a h2 {
    font-size: 34px;
    line-height: 34px;
  }
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
  .type-1344 a h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
  }
}
