* {
  margin: 0;
  padding: 0;
}
.type-1346 a {
  text-decoration: none;
  color: #555;
  font-size: 13.5px;
}
.type-1346 ul li {
  list-style: none;
}
.type-1346 .text_logo {
  text-decoration: none;
  font-size: 25px;
  color: black;
}
@font-face {
  font-family: Libre Baskerville;
  src: url(../fonts/Libre-Baskerville.woff2);
  font-weight: bold;
}
.type-1346 .logo_respon {
  width: 100%;
  padding: 10px 0px;
  text-align: center;
  display: none;
}
.type-1346 .logo_respon a {
  text-decoration: none;
  font-size: 25px;
  color: black;
}
.type-1346 .header-top {
  max-height: 70px;
  z-index: 111;
  background: #fff;
}
.type-1346 .header-top .flexbox {
  display: flex;
  position: relative;
}
.type-1346 .header-top .flexbox .for_respon {
  display: flex;
  width: 20%;
}
.type-1346 .header-top .flexbox .for_respon #icon-left {
  display: none;
}
.type-1346 .header-top .flexbox .for_respon .navi-logo {
  width: 25%;
  padding: 15px 0;
}
.type-1346 .header-top .flexbox .for_respon .navi-logo a {
  text-decoration: none;
  font-size: 25px;
  color: black;
}
.type-1346 .header-top .flexbox .my_menu {
  width: 60%;
}
.type-1346 .header-top .flexbox .my_menu .defaultt {
  position: relative;
}
.type-1346 .header-top .flexbox .my_menu .defaultt.add_absolute {
  position: absolute;
}
.type-1346 .header-top .flexbox .my_menu ul {
  list-style-type: none;
  text-align: center;
}
.type-1346 .header-top .flexbox .my_menu ul .x-close {
  display: none;
}
.type-1346 .header-top .flexbox .my_menu ul .fath-li {
  color: #f1f1f1;
  display: inline-table;
}
.type-1346 .header-top .flexbox .my_menu ul .fath-li a {
  text-decoration: none;
  color: #000000;
  display: block;
}
.type-1346 .header-top .flexbox .my_menu ul .fath-li a:hover {
  background: #F1F1F1;
  color: #333;
}
.type-1346 .header-top .flexbox .my_menu ul .fath-li .sub-menu {
  display: none;
  position: absolute;
  background: #c7c4c4;
}
.type-1346 .header-top .flexbox .navi-cart {
  width: 20%;
  justify-content: flex-end;
  display: flex;
}
.type-1346 .header-top .flexbox .navi-cart .shop-cart {
  padding: 20px 10px;
  position: relative;
}
.type-1346 .header-top .flexbox .navi-cart .shop-cart a {
  font-family: theme;
  text-decoration: none;
  color: #adacac;
  font-size: 20px;
  line-height: initial;
}
.type-1346 .header-top .flexbox .navi-cart .shop-cart a:hover {
  color: #cb7152;
}
.type-1346 .header-top .flexbox .navi-cart .shop-cart > span {
  display: block;
  position: absolute;
  top: 10px;
  font-size: 8px;
  right: -7px;
  border: 1px solid #adacac;
  padding: 3px 6px;
  color: black;
  border-radius: 100%;
}
.type-1346 .header-top .flexbox .navi-cart .shop-cart .list-cart {
  position: absolute;
  top: 100%;
  width: 217px;
  background: #adacac;
  min-height: 50px;
  padding: 12px 11px;
  right: 0;
  transition: 0.1s;
  visibility: hidden;
}
.type-1346 .header-top .flexbox .navi-cart .shop-cart:hover .list-cart {
  visibility: visible;
}
.type-1346 .header-top .flexbox .navi-cart .search {
  position: relative;
  padding: 20px 10px;
}
.type-1346 .header-top .flexbox .navi-cart .search .icon-search {
  cursor: pointer;
  color: #adacac;
  font-size: 20px;
}
.type-1346 .header-top .flexbox .navi-cart .search .icon-search:hover {
  color: #cb7152;
}
.type-1346 .header-top .flexbox .navi-cart .search .show-search-panel {
  transform: translateX(0) !important;
  opacity: 1 !important;
}
.type-1346 .header-top .flexbox .navi-cart .search .search-panel {
  opacity: 0;
  position: absolute;
  transition: 0.5s;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.type-1346 .header-top .flexbox .navi-cart .search .search-panel .menu-search-text {
  border-radius: 20px;
  width: 0px;
}
.type-1346 .header-top .flexbox .navi-cart .search .search-panel.search-opacity {
  opacity: 1;
}
.type-1346 .header-top .flexbox .navi-cart .search .menu-search-text.menu-search-add {
  width: 250px;
  transition: 0.9s;
}
.type-1346 .header-banner {
  background-color: #f6f6f6;
  padding: 80px 0px;
}
.type-1346 .header-banner .banner-text h2 {
  font: normal 58px/103px Libre Baskerville;
  text-align: center;
  font-size: 54px;
  font-weight: 400;
  color: black;
  margin: 0px;
}
.type-1346 .header-banner .banner-text .linedown {
  display: block;
  width: 100px;
  height: 3px;
  border-radius: 30px;
  background: #cb7152;
}
.type-1346 .header-banner .banner-text hr {
  border: 1.5px solid #cb7152;
  width: 130px;
  margin: 0 auto;
}
.type-1346 .header-banner .banner-text p {
  font-family: varela round;
  color: black;
  text-align: center;
  font: normal 13px/29px Libre Baskerville;
  font-size: 16px;
  padding-top: 27px;
}
@media (min-width: 701px) {
  .header-top .flexbox .my_menu ul .fath-li:hover  .sub-menu {
    display: block;
  }
}
@media (min-width: 993px) {
  .type-1346 .header-top .flexbox .my_menu ul .fath-li:hover  .sub-menu {
    display: block;
  }
  .type-1346 .header-top .flexbox .my_menu ul li {
    width: 90px;
    height: 70px;
    line-height: 70px;
  }
}
@media (max-width: 700px) and (min-width: 320px) {
  .type-1346 .logo_respon {
    display: block;
    background: #faf8f8;
  }
  .type-1346 .header-top .my_overplay {
    width: 100%;
    min-height: 1000px;
    position: fixed;
    top: 0;
    background: #333;
    z-index: 1198;
    opacity: 0.7;
    display: none;
  }
  .type-1346 .header-top .flexbox .for_respon {
    width: 50%;
  }
  .type-1346 .header-top .flexbox .for_respon #icon-left {
    display: block;
    line-height: 63px;
  }
  .type-1346 .header-top .flexbox .for_respon #icon-left .bars_respon {
    font-size: 22px;
    color: #cb7152;
    cursor: pointer;
  }
  .type-1346 .header-top .flexbox .for_respon .navi-logo {
    display: none;
  }
  .type-1346 .header-top .flexbox .my_menu {
    width: 50%;
    position: fixed;
    transition: 0.9s;
    top: 0;
    left: -100%;
    min-height: 1000px;
    background: #e0e0dc;
    z-index: 1200;
  }
  .type-1346 .header-top .flexbox .my_menu ul {
    list-style-type: none;
    position: relative;
    width: 100%;
  }
  .type-1346 .header-top .flexbox .my_menu ul .x-close {
    display: block;
    position: relative;
    width: 100%;
    height: 40px;
  }
  .type-1346 .header-top .flexbox .my_menu ul .x-close .closebtn {
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    right: 10px;
  }
  .type-1346 .header-top .flexbox .my_menu ul .fath-li {
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 50px;
    line-height: 50px;
  }
  .type-1346 .header-top .flexbox .my_menu ul .fath-li a {
    text-decoration: none;
    color: black;
    display: block;
  }
  .type-1346 .header-top .flexbox .my_menu ul .fath-li a:hover {
    background: #F1F1F1;
    color: #333;
  }
  .type-1346 .header-top .flexbox .my_menu ul .fath-li .sub-menu {
    display: none;
    position: absolute;
    z-index: 1350;
    background: #b4b4b2;
  }
  .type-1346 .header-top .flexbox .navi-cart {
    width: 50%;
  }
}
@media (max-width: 995px) and (min-width: 701px) {
  .type-1346 .header-top .flexbox .navi-logo {
    width: 10%;
  }
  .type-1346 .header-top .flexbox .my_menu {
    width: 80%;
  }
  .type-1346 .header-top .flexbox .my_menu ul {
    list-style-type: none;
    text-align: center;
  }
  .type-1346 .header-top .flexbox .my_menu ul .x-close {
    display: none;
  }
  .type-1346 .header-top .flexbox .my_menu ul .fath-li {
    color: #f1f1f1;
    display: inline-table;
    width: 70px;
    height: 70px;
    line-height: 70px;
  }
  .type-1346 .header-top .flexbox .my_menu ul .fath-li a {
    text-decoration: none;
    color: #000000;
    display: block;
  }
  .type-1346 .header-top .flexbox .my_menu ul .fath-li a:hover {
    background: #F1F1F1;
    color: #333;
  }
  .type-1346 .header-top .flexbox .my_menu ul .fath-li .sub-menu {
    display: none;
    position: absolute;
  }
  .type-1346 .header-top .flexbox .navi-cart {
    width: 10%;
  }
  .type-1346 .header-top .flexbox .navi-cart #icon-responsive {
    display: none;
  }
}
